.tag-set {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.tag-set__name {
  flex: 0 0 100%;
}

.tag-set__list {
  display: flex;
  flex-wrap: wrap;
}

.tag-set__button {
  border: 5px solid;
  font-size: 3em;
  margin-bottom: 7px;
}

.tag-set__button--active:hover {
  background: #2ecc40; /* green */
  cursor: pointer;
  border-color: black;
}

.tag-set__button--inactive {
  text-decoration: line-through;
  border-color: #f9f9f9;
  outline: none;
  color: #aaaaaa;
}
