.portfolio {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.portfolio__name {
  grid-column: 1 / -1;
  padding-left: 10px;
  position: relative;
  top: -5px;
  font-size: 2em;
  /*grid-row: 1;*/
}

.portfolio__card-set {
  /*display: grid;*/
  grid-column: 4 / -1;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  /*padding-left: 10px;*/
  /*padding-right: 10px;*/
  /*background: #ededf4;*/
  background: #111111;
  /*min-height: 1vw;*/
  border: 10px solid #111111;
  margin-right: 10px;
  margin-bottom: 10px;
  /*grid-template-rows: 25% 100px auto;*/
  /*align-items: stretch;*/

  /*display: flex;*/
  /*flex-wrap: wrap;*/
  /*width: 100%;*/
}

.portfolio__menu {
  grid-column: 1 / 4;
}

.portfolio__not-found {
  background: white;
  grid-column: 1 / -1;
  padding: 10px;
}

@media only screen and (max-width: 950px) {
  .portfolio__card-set {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 650px) {
  .portfolio {
    display: block;
  }

  .portfolio__card-set {
    margin-right: 0;
  }
}
