.Transition-enter {
  opacity: 0;
  z-index: 1;
}

.Transition-enter.Transition-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

/*.fadeTranslate-exit {
  opacity: 1;
  transform: translate(0, 0);
}*/

.Transition-exit.Transition-exit-active {
  opacity: 0;
  transform: translate(0, 3vh);
  transition: opacity 1000ms ease-in, transform 1000ms ease-in-out;
}
