body {
  margin: 0;
  padding: 0;
  font-family: 'Bookman Old Style', 'URW Bookman L', 'itc bookman', times, serif;
  color: #111111;
  background: #f9f9f9;
}

a {
  color: initial;
  text-decoration: none;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

figure {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /*font-size: 2em;*/
  margin: 0;
  font-family: 'Century Gothic', 'Avant Garde Gothic', 'Avant Garde',
    'URW Gothic L', helvetica, sans-serif;
}

h1 {
  font-size: 5vw;
}

p {
  margin: 0;
}
